<nav class="pagination">
    <a href="{{previous.link}}" class="previous">
        <h5>Previous Case Study</h5>
        <h4>{{previous.title}}</h5>
    </a>
    <a href="{{next.link}}" class="next">
        <h5>Next Case Study</h5>
        <h4>{{next.title}}</h4>
    </a>
</nav>