.portfolio-section.ppage {
    margin: 4*$space 0;
    grid-row-gap: $space * 2;
    min-height: auto;

    @media screen and (min-width: $bp-md) {
    	margin: 6*$space 0 3*$space;

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.secondary {
	grid-column: span 12;

	@media screen and (min-width: $bp-md) {
		grid-column: 8 / span 4;
	}

	@media screen and (min-width: $bp-lg) {
		grid-column: 7 / span 5;
	}

    &.slider-wrap {
        grid-column: span 12;
        position: relative;
        width: 100%;

        @media screen and (min-width: $bp-md) {
            grid-column: 2 / span 10;
        }

        &::before {
            content:'';
            background: $sundrop;
            position: absolute;
            top:0;
            height: 100%;
            left:0;
            width:100%;

            @media screen and (min-width: $bp-md) {
                width: 80%;
            }

            @media screen and (min-width: $bp-lg) {
                width:60%;
            }
        }
    }

	.img-wrap {
		width: 100%;

		.emphasized {
			@include font-sizing(15, 16);
			text-align: right;
			margin: 0 $space*2 $space*.5 0;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	.slider {
        padding:$space*2 $space*2 0;
        box-sizing: border-box;

        @media screen and (min-width: $bp-md) {
    		padding:$space*4 0 0;
    	}

        @media screen and (min-width: $bp-lg) {
    	
    	}

        header {
        	box-sizing: border-box; 
        	display: flex;
            flex-direction: column;
        	justify-content: center;
        	align-items: flex-start;
        	padding: 0 0 $space;
        	transition: opacity $duration/4 ease-out $duration/2;
            grid-column: span 2;

            @media screen and (min-width: $bp-md) {
                padding: 0 $space*3 $space;
            }

            @media screen and (min-width: $bp-lg) {
                padding: $space*3;
            }

        	.h5 {
        		border-bottom: 1px solid white;
				padding-bottom: 4px;
				margin-bottom: 8px;
				display: inline-block;
				padding-right: 3em;
                max-width: 55ch;
        	}

        	p {
        		font-style: italic;
                max-width: 35ch;
        	}

        	p:last-child {
        		margin-bottom:$space/2;
        	}

        	.btn {
        		color: $grey-dark;
        		border-color: $white;
                margin-top: $space;

                &:active,
                &:focus,
                &:hover {
                    background-color: $red;
                    border-color: $red;
                    color: white;
                }
        	}
        }

        .owl-grab header,
        .owl-item:not(.active) header {
      		opacity: 0;
        	transition: opacity $duration/4 ease-out;
      	}

        .nav-wrap {
        	@include font-smoothing;
        	display: flex;
        	justify-content: flex-end;
        	align-items: center;
        	padding: 0 0 $space*2;
        	box-sizing: border-box;
            position: relative;
            padding: 0 $space $space*2;

            @media screen and (min-width: $bp-md) {
                width: 80%;
            }

        	@media screen and (min-width: $bp-lg) {
                width: 60%;
        	}

        	.owl-prev {
        		display: none;
        	}
        	.owl-next {
        		height:40px;
        		width: 40px;
        		border: 1px solid white;
        		text-align: center;
        		border-radius: 50%;
        		background-color: transparent;
        		margin-left:$space;
    				transition: background $duration/2 ease-out;
    				cursor: pointer;

        		span {
        			display: inline-block;
        			height: $space*.75;
        			width: $space*.75;
        			border-top: 1px solid $grey-dark;
        			border-right: 1px solid $grey-dark;
    					transform: translate(-17%, 7%) rotate(45deg);
    					transform-origin: center;
    					overflow: hidden;
    					text-indent: -99em;
        		}

                &:active,
                &:focus {
                    background-color: rgba($white, .4);
                    outline: 0;
                }

        		&:hover {
        			background-color: rgba($white, .7);
        		}
        	}
        }
	}

	.owl-carousel {

        .owl-stage-outer {
            overflow: visible;

            /*@media screen and (min-width: $bp-md) {
                overflow: hidden;
            }*/
        }
		
		.slide-wrap {
            width: 100%;  
            padding: 1rem;
            box-sizing: border-box;

            > a {
                grid-column: span 3;
                display: block;
            }

            @media screen and (min-width: $bp-md) {
                > a {
                    padding-left: 3rem;
                }
            }

	        @media screen and (min-width: $bp-lg) {
                display: grid;
                grid-template-columns: repeat(5, 1fr); 

                > a {
                    padding-left: 0;
                }
			}
		}
	}

	.lists {

		padding-left: $space*2;
		margin-top: $space*2;

		ul {
			padding-right: $space*2;
		}
		
	}
}