body {
	margin: 0;
	padding: 0;
}

.main {
	margin: 0 auto;
	padding: 0;
}

.circle {
	position: absolute;
  opacity: 0.5;
  mix-blend-mode: multiply;
  width: calc(5vw + 100px);
  height: calc(5vw + 100px);
  border-radius: 50%;
  background-color: $sundrop;
  pointer-events: none;
  transform: translate3d(-50vw, 0vh, -7vh) scale(1.2);
  z-index: 5;

  @media screen and (min-width: $bp-sm) {
    transform: translate3d(-50vw, 0vh, -7vh) scale(1);
    opacity: 0.7;
  }

  &.-c2 {
  	transform: translate3d(87vw, 30vh, -4vh) scale(0.5);
  	background-color: $sundrop;
    opacity: 0.25;

    @media screen and (min-width: $bp-sm) {
      transform: translate3d(67vw, 30vh, -4vh) scale(0.35);
      opacity: 0.45;
    }
  }
}

.circle.-bio {
  z-index: 2;
  opacity: 0.05;
  transition: all $duration*1.75 ease $duration*.25;
  transform: translate3d(36vw, 30vh, -2vh) scale(2.25);
  width: 18vw;
  height: 18vw;

  @media screen and (min-width: $bp-md) {
    transform:  translate3d(-10vw, 45vh, -2vh) scale(0.7);
  }

  .loaded & {
    opacity: .15;
    transform: translate3d(32vw, 30vh, -2vh) scale(2.75);

    @media screen and (min-width: $bp-md) {
      transform: translate3d(-14vw, 36vh, -2vh);
    }
  }
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 4vh;
  perspective-origin: top center;
}

.penta-portrait {
  background-color: transparent;
  overflow: hidden;

  .portrait-inner {
    position:relative;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: $pistachio;
    opacity:0;
    transition: opacity $duration ease-out;

    .loaded & {
      opacity:1;
    }
  }

  svg {
    width: 122%;
    height: auto;
    position: absolute;
    top: -12%;
    left: -11%;
    transition: transform $duration ease;

    .loaded & {
      transform: rotate(-12deg);
      transition: transform $duration ease $duration;
    }
  }

  &:hover,
  &:focus {
    svg {
      transform: rotate(-15deg);
      transition: transform $duration ease;
    }
  }
}

.flex {
  display: flex;
}

.-mb {
  margin-bottom: $space*2;
}

.main .website,
.main .mobile-mock,
.main .tv {
  border-radius: 3px;
  position: relative;
  display: block;
  box-shadow: 0px 10px 40px 0px rgba($grey-dark, 0.35);
  overflow: hidden;

  img {
    display: block;
    background-color: $grey-dark;
  }
}

.secondary {
  .website {
    margin: 0 $space $space*2;

    @media screen and (min-width: $bp-md) {
        margin:0 0 $space*2;
    }
  }

  .owl-item .website {
    margin:0;
  }

  .tv {
    margin: 0 $space $space*3;

    @media screen and (min-width: $bp-md) {
        margin:0 0 $space*3;
    }
  }

  .mobile-mock {
    margin: 0 $space $space;
  }

  .flex .mobile-mock {
      margin: 0 $space $space 0;

      &:first-child {
        margin-left:$space;

        @media screen and (min-width: $bp-md) {
          margin-left:0;
        }
      }

      &:last-child {
        margin-right:0;
      }
    }
}

.main .tv {
  border: 3px #444 solid;
  box-sizing: border-box;
  overflow: visible;

  &::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 4px;
    left: 30%;
    bottom: -16px;
    background: #444;
    border-radius: 0 0 3px 3px;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(40% - 14px);
    height: 5%;
    left: 30%;
    bottom: -12px;
    border-bottom: 9px solid #666;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
}

.mobile-mock {
  border-radius: 3px;
  max-width: 500px;
  margin: 10% auto;

  &.-portrait {
    max-width: 200px;
    margin: 0 auto;
  }
}

.main .website {
  background-color: #cecbcb;
  padding-top: $space*.75;

  &::before {
    content:'';
    position: absolute;
    top: $space*.75;
    width: 100%;
    height: 1px;
    background-color: #bcc7d2;
  }

  &::after {
    content:'';
    position: absolute;
    top: $space*.125;
    right: $space*.25;
    width: $space*.5;
    height: $space*.5;
    background-color: #aaa;
    border-radius: 50%;
  }

}