body {
	margin: 0;
	padding: 0;
}

.main {
	margin: 0 auto;
	padding: 0;
}

.circle {
	position: absolute;
  opacity: 0.5;
  mix-blend-mode: multiply;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  background-color: $sundrop;
  pointer-events: none;
  transform: translate3d(-50vw, 0vh, -7vh) scale(1.2);
  z-index: 5;

  @media screen and (min-width: $bp-sm) {
    transform: translate3d(-50vw, 0vh, -7vh) scale(1);
    opacity: 0.7;
  }


  @media screen and (min-width: $bp-sm) {
    /*width: 100px;
    height: 100px;*/
  }

  &.-c2 {
  	transform: translate3d(87vw, 30vh, -4vh) scale(0.5);
  	background-color: $sundrop;
    opacity: 0.25;

    @media screen and (min-width: $bp-sm) {
      transform: translate3d(67vw, 30vh, -4vh) scale(0.35);
      opacity: 0.45;
    }
  }
}

.circle.-bio {
  z-index: 2;
  opacity: 0.05;
  transition: all $duration*1.75 ease $duration*.25;
  transform: translate3d(36vw, 30vh, -2vh) scale(2.25);
  width: 18vw;
  height: 18vw;

  @media screen and (min-width: $bp-md) {
    transform:  translate3d(-10vw, 45vh, -2vh) scale(0.7);
  }

  .loaded & {
    opacity: .15;
    transform: translate3d(32vw, 30vh, -2vh) scale(2.75);

    @media screen and (min-width: $bp-md) {
      transform: translate3d(-14vw, 36vh, -2vh);
    }
  }
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 4vh;
  perspective-origin: top center;
}

.penta-portrait {
  background-color: transparent;
  overflow: hidden;

  .portrait-inner {
    position:relative;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: $pistachio;
    opacity:0;
    transition: opacity $duration ease-out;

    .loaded & {
      opacity:1;
    }
  }

  svg {
    width: 122%;
    height: auto;
    position: absolute;
    top: -12%;
    left: -11%;
    transition: transform $duration ease;

    .loaded & {
      transform: rotate(-12deg);
      transition: transform $duration ease $duration;
    }
  }

  &:hover,
  &:focus {
    svg {
      transform: rotate(-15deg);
      transition: transform $duration ease;
    }
  }
}

.flex {
  display: flex;
}

.-mb {
  margin-bottom: $space*2;
}

.main .website {
  border:1px solid slategrey;
  border-radius: 3px;
  padding-top: $space*.75;
  position: relative;
  background-color: gainsboro;
  display: block;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.4);

  &:hover,
  &:active,
  &:focus {
    background-color: gainsboro;
  }

  &::before {
    content:'';
    position: absolute;
    top: $space*.75;
    width: 100%;
    height: 1px;
    background-color: lightslategrey;
  }

  &::after {
    content:'';
    position: absolute;
    top: $space*.125;
    right: $space*.25;
    width: $space*.5;
    height: $space*.5;
    background-color: #aaa;
    border-radius: 50%;
  }

}