.portfolio-section {
	.lists {
		grid-column: 2 / span 10;
		flex-direction: row;
		display: flex;

		@media screen and (min-width: $bp-md) {
			grid-column: 2 / span 5;
		}

		@media screen and (min-width: $bp-lg) {
			grid-column: 2 / span 4;
			padding-left: 2rem;
		}
	}
}