.portfolio-section {
	.lists {
		grid-column: 2 / span 10;
		display: flex;

		@media screen and (min-width: $bp-md) {
			grid-column: 8 / span 5;
			flex-direction: column;
			padding-top: 2.75*$space;

			&.-right {
				padding-top:0;
			}

			&.-with-slider {
				padding-top:5*$space;
			}

			ul:first-child {
				margin-bottom: $space;	
			}
		}

		@media screen and (min-width: $bp-lg) {
			grid-column: 7 / span 5;
			flex-direction: row;
			padding-left: 2rem;

			ul:first-child {
				margin-bottom: 0;	
			}
		}
	}
}