<header class="page-header">
    <nav id="main-nav">
        <div class="page-title">
            <h2 class="h5">Software/Product Designer</h2>
            <h1>
                <a href="/">Spencer Hansen</a>
            </h1>
        </div>
        <ul>
            <li>
                <a href="/#overview">overview</a>
            </li>
            <li>
                <a href="/#ux">UX</a>
            </li>
            <li>
                <a href="/#ixd">IxD</a>
            </li>
            <li>
                <a href="/#front-end">Front-End</a>
            </li>
        </ul>
    </nav>
</header>
