#overview + .portfolio-section {
	background-color: lighten($creme, 5%);
	margin-top: 0;
	padding: 18vh $space*2;
	max-width: none;
	margin-left: auto;
	margin-right: auto;

	@supports ( display: grid ) {
		padding: 18vh 0;
		margin-left: 0;
		margin-right: 0;
	}

	@media screen and (min-width: $bp-md) {
		grid-auto-flow: column;
		padding: 18vh calc(50% - 400px);

		@supports ( display: grid ) {
			padding: 18vh 0;
		}
	}

	> article {
		grid-column: 2 / span 9;

		@media screen and (min-width: $bp-md) {
			grid-column: 7 / span 4;
			padding-right:$space;
		}

		@media screen and (min-width: $bp-lg) {
			grid-column: 7 / span 4;
			padding-right: 0;

			.section-title::after {
				left: calc(-8rem - 100%);
			}
		}
	}

	.lists {
		margin-top: 4*$space;
		padding-top: 0;
	}

	.clients.lists {
		padding-top: 0;
		margin-top: 0;
		flex-direction: column;
		justify-content: flex-end;

    ul {
    	flex: initial;
    }

		@media screen and (min-width: $bp-md) {
    	grid-column: 3 / span 3;
    }

		@media screen and (min-width: $bp-lg) {
    	grid-column: 4 / span 2;
    }
	}
}

.portfolio-section {
  margin: 20vh 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	position: relative;

	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-left: $space*2;
	padding-right: $space*2;

	img {
    min-height: 10vw;
    display: block;
    background: $pistachio;

    @media screen and (min-width: $bp-lg) {
    	min-height: 200px;
    }
	}

	@supports ( display: grid ) {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
		padding-left: 0;
		padding-right: 0;

		display: grid;

		grid-template-columns: 2rem 2rem repeat(9, 1fr) 2rem;

		@media screen and (min-width: $bp-sm) {
			grid-template-columns: 4rem 4rem repeat(9, 1fr) 4rem;
		}

		grid-row-gap: $space * 4;

		> * {
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media screen and (min-width: $bp-md) {
		flex-direction: row;
	}

	/*> * {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}*/

	> article {
		grid-column: 2 / span 9;

		@media screen and (min-width: $bp-md) {
			grid-column: 2 / span 5;
			padding-right:$space;
		}

		@media screen and (min-width: $bp-lg) {
			grid-column: 3 / span 3;
			padding-right: 0;
		}

		.section-title {
			position: relative;

			&::after {
				content:'';
				position: absolute;
				width: $space/2;
				height: $space*10;
				background-color: $teal;
				top: $space/4;
				left: -$space*2;

				@media screen and (min-width: $bp-sm) {
					left: -$space*4;
				}

				@media screen and (min-width: $bp-lg) {
					left: -$space*8;
				}
			}
		}

		h5.section-title {
			margin-bottom: 0;
			position: relative;
		}
	}

	.case-studies {
		grid-column: span 12;

		@media screen and (min-width: $bp-sm) {
			grid-column: 2 / span 10;
		}

		@media screen and (min-width: $bp-md) {
			grid-column: 3 / span 9;
		}

		@media screen and (min-width: $bp-lg) {
			grid-column: 5 / span 7;
		}

		.img-wrap {
			box-sizing: border-box;
			position: relative;

			&::before {
				transition: opacity $duration ease-out;
				content: '';
				position: absolute;
				width: 100%;
				top:0;
				left:0;
				height:100%;
				background-color: $pistachio;
				opacity: 0;
			}


			@media screen and (min-width: $bp-sm) {
				background: radial-gradient(ellipse at center, white 35%, $creme 100%);
				padding:5%;
				flex: 0 0 62.5%;
				background-color: $creme;
			}

			> div {
				transition: transform $duration ease-out;
			}

			img {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			list-style: none;
		}

		li > a {
			box-sizing: border-box;
			margin: 0;
			position: relative;
			display: block;
			padding: $space*3 $space*2 $space*2;
			background-color: $creme;

			@media screen and (min-width: $bp-sm) {
				padding:0;
				margin: 0 0 $space*4;
				background: transparent;
			}

			transition: all $duration ease-out;

			&:hover,
			&:focus {
				background-color: $pistachio;
				text-decoration: none;

				@media screen and (min-width: $bp-sm) {
					background-color: transparent;
				}
			}

			@media screen and (min-width: $bp-sm) {
				display: flex;
				justify-content: space-between;
				align-items: stretch;

				&:hover,
				&:focus {

					.img-wrap::before {
						transition: opacity $duration ease;
						opacity:.6;
					}

					.case-study--title {
						color: $red;
						background-color: transparent;
						text-decoration: none;

						.h5 {
							color: $red;

							&::after {
								width: 105%;
				    		transition: width $duration/2 ease-in;
							}
							&::before {
								transform: scale(1);
				    		transition: transform $duration*.75 ease-out $duration/2;
							}
						}
					}

					.img-wrap > div {
						transform: scale(1.02);
						transition: transform $duration ease;
					}
				}
			}
		}

		.case-study--title {
			transition: color $duration/2 ease-out;
			color: $teal;
			padding: 0;
	    flex: 1;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
			z-index:2;
			margin-bottom: $space;

			.h5 {
				color: $grey-dark;
				position: relative;
			}

			@media screen and (min-width: $bp-sm) {
				margin-bottom:0;

				h3 {
					padding-right: $space/2;
				}

				.h4 {
					margin-bottom:0;
				}
				
				.h5 {
					padding-bottom: $space*.5;
					margin-bottom: $space*.5;

					&::after {
						content: '';
				    border-bottom: 1px solid $grey-dark;
				    width: 95%;
				    height: 1px;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    transition: width $duration ease-out $duration/2;
					}

					&::before {
						content: '';
				    right: -5%;
				    height: 5px;
				    width: 5px;
				    position: absolute;
				    bottom: -2px;
				    transition: transform $duration/2 ease-out;
				    background-color: $grey-dark;
				    border-radius: 50%;
				    transform: scale(0);
					}
				}
			}
		}

		.actions {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
    	justify-content: center;


			@media screen and (min-width: $bp-md) {
				flex-direction: row;
				align-items: center;
			}

			@include label();
			@include font-sizing(13, 13);

			a {
				outline: 0;
				margin: $space/4 0;

				@media screen and (min-width: $bp-md) {
					margin: 0 0 0 $space;
				}
			}
		}
	}
}