.page-footer {
    background-color: darken($teal, 2%);
    min-height: $space*10;
    color: $white;

    h4 {
    	color: $creme;
    }

    .colophon {
  		margin-top: $space*2;
    }

    .footer-grid {
    	padding: $space*4 $space*2;

    	@media screen and (min-width: $bp-sm) {
    		padding: $space*4;
    	}

    	@media screen and (min-width: $bp-md) {

	    	@supports ( display:grid ) {
	    		display: grid;
	    		grid-template-columns: 35ch 1fr 50%;
	    	}

	    	.colophon {
	    		grid-column: 3;
	    		margin-top:0;

	    	}
	    }

    	@media screen and (min-width: $bp-lg) {
    		padding: $space*6;
    	}
    }

    a,
    .anchor {
      color: $white;
    }

    p a {
			transition: background $duration/2 ease-out, color $duration/2 ease-out;

		  &:hover,
			&:focus,
			&:active {
				color: $grey-dark;
				background-color: $sundrop;
			}
		}
}

.social-links {
	padding:0;
	margin:0;
	display: flex;
	margin-left: -7px;
	margin-top: -7px;

	li {
		list-style: none;

		a {
			width: 40px;
			padding:8px;
			margin-right: $space/2;
		  box-sizing: border-box;
		  display: inline-block;

		  &:hover,
			&:focus,
			&:active {

				svg path {
					fill: $sundrop;
				}
			}
		}

		svg {
			height: auto;
			width: 100%;

			path {
				fill: $white;
				transition: fill $duration/2 ease-out;
			}
		}
	}
}